.navbar {
    padding: 10px 30px;
    background-color: transparent;
}

.navbar .navbar-brand{
    margin-right: 100px;
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
}

.navbar .hab-search{
    width: 300px;
}

.navbar-nav .active{
    color: #2B9DFF;
}

.nav-item{
    margin-right: 20px;
}

.btn-personal{
    text-decoration: none;
    color: white;
    border: 1px solid #2B9DFF;
    background-color: #2B9DFF;
    border-radius: 50px;
    width: 150px;
    text-align: center;
    transition: 0.2s ease-out;
}

.btn-personal:hover{
    background-color: white;
    color: #2B9DFF;
}